{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h2>Teacher Dashboard</h2>
        
        <div class="row mt-4">
            <div class="col-md-6">
                <h3>Assigned Students</h3>
                {% if students %}
                    <ul class="list-group">
                        {% for student in students %}
                            <li class="list-group-item">{{ student.user.username }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No students assigned to you.</p>
                {% endif %}
            </div>
            <div class="col-md-6">
                <h3>Available Lessons</h3>
                <p>Lesson management will be available here.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
